:root {
    --color-orange: #FF6700;
    --color-dark: #362A22;
    --color-darkish: #61554E;
    --color-light: #fbd4ba;
    --color-very-light: #faebe0;
    --color-grey: #0b0b0b8f;

    --font-fam-sans: 'Roboto', sans-serif;
    --font-fam-sefir: 'Lora', serif;

    --size-xxs: .25rem;
    --size-xs: .5rem;
    --size-s: 1rem;
    --size-m: 2rem;
    --size-l: 3rem;
    --size-xl: 5rem;
    --size-xxl:10rem;
    --size-giant: 20rem;

    --time-def: .5s;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-s) var(--size-m) var(--size-s) var(--size-m);
    background-color:var(--color-dark);
    color: var(--color-light);
}
.logo{
    max-width: var(--size-l);
    height: auto;
}
nav a {
    color:var(--color-light);
    text-decoration: none;
    margin-left: var(--size-s);
}

.nav-link{
    font-family: var(--font-fam-sans);
    color: var(--color-orange);
    padding: var(--size-xs) var(--size-s) var(--size-xs) var(--size-s);
    border:solid;
    border-radius: var(--size-l);
    transition: var(--time-def);
}

.nav-link:hover{
    color: var(--color-light);
    transition: var(--time-def);
}

.nav-link-current{
    border-width: var(--size-xxs);
}

main {
    text-align: center;
    padding: var(--size-m);
    background-color: var(--color-light);
    min-height: 65vh;
    width: auto;
}

.about-content{
    display: grid;
    grid-template-columns:repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    gap: var(--size-l);
    margin: var(--size-m)var(--size-giant) var(--size-m)var(--size-giant);
}
h1{
    font-family: var(--font-fam-sans);
    line-height: var(--size-xxl);
    font-weight:800;
    font-size: var(--size-xl);
    color: var(--color-orange);
    flex: 1;
    }

h2{
    font-family: var(--font-fam-sans);
    color: var(--color-orange);
    font-weight: 800;
    font-size: var(--size-m);
}

p{
    color: var(--color-dark);
    font-weight: 800;
    line-height: 1.5rem;
    font-family: var(--font-fam-sefir);
}
.h1-home{
    justify-self: start;
    align-self: center; 
    text-align: left;
    margin-right: var(--size-s);
}

.pfp{
    justify-self:start;
    align-self: center;
    flex: 1;
    max-width: 16rem;
    height: auto;
    margin-bottom: var(--size-s);
    border-radius: 100%;
    /* margin-right: var(--size-giant); */
}

.p-text{
    justify-self: start;
    align-self: start;
    max-width: 25rem;
    min-width: 20rem;
    text-align: start;
}

.cta{
    cursor: pointer;
    background-color: var(--color-orange);
    color: var(--color-light);
    font-size: var(--size-s);
    border-radius:var(--size-l) ;
    border: solid;
    margin-top: var(--size-s);
    padding: var(--size-s) var(--size-m) ;
    transition: var(--time-def);
}
.cta:hover {
    color: var(--color-light);
    transition: var(--time-def);
    background-color: var(--color-dark);
}


/* Projects */
.projects-main {
    display: grid;
    gap: var(--size-m);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: var(--size-s);
    margin: auto var(--size-s) auto var(--size-s);
}

.h1-center {
    justify-self: center;
    align-self: center;
}

.full-width {
    grid-column: span 2;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--size-l);
    background-color:var(--color-very-light);
    color: var(--color-darkt);
    border-radius: var(--size-l);
}

.grid-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-disc{
    text-align: start;
    margin: var(--size-xs) var(--size-xl);
    justify-self: center;
    align-self: start;
    max-width: 45rem;
    min-width: 0rem;  
}
/* End of projects */

/* Services */

.full-width-card {
    display: grid;
    gap: var(--size-xs);
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(100px, auto);
    padding: var(--size-l);
    background-color: var(--color-very-light);
    color: var(--color-darkt);
    border-radius: var(--size-l);
}

.service-img{
    max-width: 40rem;
    min-width: 10rem;
    height: auto;
    border-radius: var(--size-l);
}
.p-wrap{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 45rem;
    gap: var(--size-m);
}
.service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.tag-wrap{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    font-size: var(--size-s);
    font-weight: 600;
    background-color: var(--color-orange);
    color: var(--color-light);
    border-radius: var(--size-l);
    padding: var(--size-xs) var(--size-s);
    margin: var(--size-s) var(--size-xxs) var(--size-s) 0;
}

.service-disc{
    text-align: start;
    max-width: 45rem;
}

.servive-cta{
    align-self: flex-end;
    justify-self: flex-start;    
}
article{
    margin-bottom:var(--size-m);
}
.idk{
    margin: var(--size-l) var(--size-s);

}
/* end of Services */
/* Contact me */
form {
    display: flex;
    max-width: 60rem;
    margin: var(--size-s) auto;
}

.form-group {
    flex: 1;
    margin-right: var(--size-s);
}

label {
    display: block;
    margin-bottom: var(--size-xxs);
    text-align: left;
    color: var(--color-darkish);
    font-family: var(--font-fam-sefir);
}

input,
textarea {
    width: 100%;
    padding: var(--size-xs);
    margin-bottom: var(--size-xs);
    box-sizing: border-box;
    background-color: var(--color-very-light);
    border: none;
    border-radius: var(--size-xxs);
}

.message-field {
    flex: 2;
    max-width: 45rem;
    min-width: 45rem;
    resize: none;
}
#message{
    resize: none;
}

/* footer */
footer {
    min-height:var(--size-xl);
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-s) var(--size-m) var(--size-s) var(--size-m);
    background-color: var(--color-dark);
    color: var(--color-light);
}
.footer-links-icon{
    margin: var(--size-xs);
}
.footer-text{
    text-align: start;
    padding-left: var(--size-xl);
}

.p-footer{
    color: var(--color-darkish);
    padding: var(--size-xxs) ;
}